/*
RESET
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .carousel-container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .slide {
   display: none;
   text-align: center;
 }

 .slide.active {
   display: block;
 }

 .slide img {
   max-width: 100%;
   height: auto;
 }